################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MammothAPI
/MammothAPI/bin/Debug/netcoreapp3.1
/MammothAPI/obj
